<!DOCTYPE html>
<html lang="en">

<head>
	<title>Liquor Store - Free Bootstrap 4 Template by Colorlib</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>





	<section class="hero-wrap hero-wrap-2" style="background-image: url(/banner-images/{{banner.[0]._id}}.jpg);"
		data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-end justify-content-center">
				<div class="col-md-9 ftco-animate mb-5 text-center">
					<p class="breadcrumbs mb-0"><span class="mr-2"><a href="/">Home <i
									class="fa fa-chevron-right"></i></a></span> <span>Products <i
								class="fa fa-chevron-right"></i></span></p>
					<h2 class="mb-0 bread">Products</h2>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-section">
		<div class="container">

			<div class="row">
				{{#each products}}
				<div class="col-md-3 d-flex">


					<div class="product ftco-animate">

						<div class="img d-flex align-items-center justify-content-center"
							style="background-image: url(/product-images/{{this._id}}.jpg);"> {{!--IMAGE--}}
							<div class="desc">
                                
								<p class="meta-prod d-flex">
									{{!--CART--}} <a style="cursor:pointer;" onclick="addToCart('{{this._id}}')"
										class="d-flex align-items-center justify-content-center"><span
											class="flaticon-shopping-bag"></span></a>

									{{!--WISHLIST--}} <a style="cursor:pointer;" onclick="addToWishlist('{{this._id}}')"
										class="d-flex align-items-center justify-content-center"><span
											class="flaticon-heart"></span></a>

									{{!-VIEW PRODUCT-}} <a href="/viewproduct/{{this._id}}"
										class="d-flex align-items-center justify-content-center"><span 
											class="flaticon-visibility"></span></a>
                                </p>
							</div>
						</div>

						<div class="text text-center">
							<span class="category">{{this.category}}</span> {{!--CATEGORY--}}
							<h2>{{this.name}}</h2> {{!--NAME--}}
							<span class="price">Rs {{this.price}}</span> {{!--PRICE--}}
						</div>

					</div>

				</div>
				{{/each}}


			</div>
			{{!-- <div class="row mt-5">
				<div class="col text-center">
					<div class="block-27">
						<ul>

							<li><a href="#">&lt;</a></li>
							<li class="active"><span>1</span></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&gt;</a></li>
						</ul>
					</div>
				</div>
			</div> --}}
		</div>


	</section>





	<footer class="ftco-footer">
		<div class="container">
			<div class="row mb-5">
				<div class="col-sm-12 col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2 logo"><a href="#">Liquor <span>Store</span></a></h2>
						<p>Far far away, behind the word mountains, far from the countries.</p>
						<ul class="ftco-footer-social list-unstyled mt-2">
							<li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
							<li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md">
					<div class="ftco-footer-widget mb-4 ml-md-4">
						<h2 class="ftco-heading-2">My Accounts</h2>
						<ul class="list-unstyled">
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>My Account</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Register</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Log In</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>My Order</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md">
					<div class="ftco-footer-widget mb-4 ml-md-4">
						<h2 class="ftco-heading-2">Information</h2>
						<ul class="list-unstyled">
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>About us</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Catalog</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Contact us</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Term &amp; Conditions</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Quick Link</h2>
						<ul class="list-unstyled">
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>New User</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Help Center</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Report Spam</a></li>
							<li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Faq's</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-12 col-md">
					<div class="ftco-footer-widget mb-4">
						<h2 class="ftco-heading-2">Have a Questions?</h2>
						<div class="block-23 mb-3">
							<ul>
								<li><span class="icon fa fa-map marker"></span><span class="text">203 Fake St. Mountain
										View, San Francisco, California, USA</span></li>
								<li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+2 392 3929
											210</span></a></li>
								<li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span
											class="text">info@yourdomain.com</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</footer>



	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg></div>



</body>

</html>


<script>
	function addToCart(proId) {
		$.ajax({
			url: '/addToCart/' + proId,
			method: 'get',
			success: (response) => {
				if (response.status) {
					let count = $('#cartCount').html()
					count = parseInt(count) + 1
					$("#cartCount").html(count)
					Swal.fire(
						'Item added to Cart!',
						'',
						'success'
					)

				}else{
					Swal.fire({
  icon: 'error',
  title: 'Oops...',
  text: 'You need to Login!',
  showConfirmButton: false,
  footer: '<a href="/login">Login Here...</a>'
  
})
				}

			}
		})
	}

	function addToWishlist(proId) {
		$.ajax({
			url: '/addToWishlist/' + proId,
			method: 'get',
			success: (response) => {
				console.log(response)
				if (response.response.status) {
					Swal.fire(
						'Item added to Wishlist!',
						'',
						'success'
					)


				} else {
					Swal.fire(
						'Item removed from Wishlist !',
						'',
						'info'
					)


				}
			}
		})
	}

	
</script>